{% set money = 0 %}
  {% for z in list %}
      <tr>
          <td>
              <input name="ids" type="checkbox" value="{{ z.id }}"/>
          </td>
          <td>
              {{ z.zhongzhuandan }}
          </td>
          <td>
              {% if z.dateZhongzhuan is not  null %}
                  {{ z.dateZhongzhuan|date('Y-m-d') }}
              {% endif %}
          </td>
          <td>
              {% if z.xianfushouyin %} 已收银
              {% else %}  未收银{% set money = money + z.xianfu %}
              {% endif %}
          </td>
          <td>
              {{ z.xianfu }}
          </td>
          <td>
              {% if z.datexianfushouyin is not  null %}
                  {{ z.datexianfushouyin|date('Y-m-d') }}
              {% endif %}
          </td>
      </tr>
  {% endfor %}

<script>
    $(function() {
        $("#zongji").text("总计欠费: "+ {{ money }});
    })
</script>

